{% extends 'shop/base.html' %}


{% block content %}
  <div class="row justify-content-md-center">
    {% for object in object_list %}
      <div class="col-md-8">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
          src="/media/{{ object.img }}" alt="Card image cap">

          <div class="card-body">
            <p class="card-text">
            <h3>Цена: {{ object.price }} ₽</h3><br>
            <strong>Описание:</strong> {{ object.description }}<br><br>
            <strong>Категория:</strong> {{ object.category }}<br><br>
            <strong>Дата поступления:</strong> {{ object.create_date }}<br><br>
            <strong>Дата обновления:</strong> {{ object.last_change_date }}
            </p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}