{% extends 'shop/base.html' %}


{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-8">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top"
                 src="/media/{{ object.image }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                <h1>{{ object.name }}</h1><br>
                <h3>Цена: {{ object.price }} ₽</h3><br>
                <strong>Описание:</strong> {{ object.description }}<br><br>
                <strong>Категория:</strong> {{ object.category }}<br><br>
                <strong>Дата поступления:</strong> {{ object.create_date }}<br><br>
                <strong>Дата обновления:</strong> {{ object.last_change_date }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'shop:index' %}" type="button"
                           class="btn btn-sm btn-outline-secondary">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}